<div class="features">

    <div class="font-buttons">
        <button class="normal inline-display" (click)="normalFont()">Aa</button>
        <button class="large" (click)="largeFont()">Aa</button>
        <button class="largest" (click)="largestFont()">Aa</button>
    </div>
    
    <div class="search-input">
        <input [(ngModel)]="searchText" type="search" placeholder="Search book text here"
            (input)="countMatches(searchText)" />
        <p *ngIf="appearCount">{{i+1}}/{{count}} match
        <p>
            <button (click)="scrollToPrevious()" [disabled]="appearNext === false" style="margin-left: 10px;">prev</button>
            <button (click)="scrollToNext()" [disabled]="appearNext === false" >next</button>
    </div>
    
</div>

<div class="text-container">
    <h1 *ngIf="isError === true"> {{errorMessage}}</h1>

    <h1>{{bookData["title"]}}</h1>
    <div *ngFor="let text of bookText">
        <div [innerHtml]="text | highlight: searchText" class="book">{{i}}</div>
    </div>
</div>
