.header {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #8a6b25;


}
.header p{
  font-size: 30px;
  cursor: pointer;
  color: white;

}

/* font-family: 'Libre Baskerville', serif; */

